 <div class="jumbotron">
<h3>Instructor sign up</h3>
<%= link_to "Sign up", new_instructor_registration_path %>

<h3>Student sign up</h3>
<%= link_to "Sign up", new_student_registration_path %>

</div>